<nav class="links">
    <ul>
        <a href="/my_house"><li>my house</li></a>
        <a href="/my_house"><li>my share history</li></a>
        <a href="/my_house"><li>my chore roster</li></a>
        <a href="/my_house"><li>resources</li></a>
    </ul>
</nav>