
<header>
    <h1>About Us</h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <li>About us</li>
    </ul>
</nav>
<main>
    <p>Written and &copy; <a href="http://github.com/leahpleurodon">Leah</a></p>

    <p>
        <a target="_blank" href="https://www.vecteezy.com">Vector Graphics by Vecteezy.com</a>
    </p>
    <p>
        <a target="_blank" href="https://all-free-download.com/free-vector/download/sweet-home-background-house-balloon-heart-icons_6837077.html">Vector Graphics by all-free-download.com</a>
    </p>
</main> 