<header>
    <h1>My House</h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <a href="/my_house">
            <li>my house</li>
        </a>
        <a href="/houses/<%= @house.id %>/unpaid_bills">
            <li>unpaid bills</li>
        </a>
        <a href="/houses/<%= @house.id %>/all_bills">
            <li>bill history</li>
        </a>
        <a href="/houses/<%= @house.id %>/join_code">
            <li class="active">invite mates</li>
        </a>
    </ul>
</nav>
<main>
</main>