 <h2>Get ready to join your new mates...</h2>
 <h3>If you join a house when you're part of another, you will leave that house.</h3>
 <%= form_tag "/join_house", method: "post", :authenticity_token => true do %>
        <label for="join_code">Enter Join Code</label>
        <input type="text" name="join_code">
        
        <button>Join House</button>
<% end %>