<div>
    <h2>My Mates</h2>
    <% house.users.each do |mate| %>
        <% unless mate == current_user %>
            <p>
                <%= mate.first_name %>:
                <%= link_to "view", user_path(mate.id), class: "link" %>
            </p>
        <% end %>
    <% end %>
</div>